/* CSS - styles.css */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
}

div {
    width: 100%;
    /* Ensures that each div uses the full available width */
}

header {
    display: block;
    width: 100%;
}

#headerImage {
    width: 100%;
    height: auto;
}

#randomPageLink {
    display: none;
}

#pdf-viewer-container {
    width: 90vw;
    /* Limits the width to 90% of the viewport width */
    max-width: calc(100vw < 8in ? 100vw : 8in);
    /* Conditional max-width */
    aspect-ratio: calc(612 / 792);
    /* Maintain the aspect ratio based on typical PDF page size, adjust as needed */
    overflow: hidden;
    /* Hide any overflowing content */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Center items horizontally within the container */
    margin: 20px auto;
    /* Center the container on the page and provide vertical spacing */
    padding: 20px;
    /* Padding to prevent content from touching the container edges */
}

canvas {
    max-width: 100%;
    border: 1px solid black;
}

#navigation-controls {
    position: sticky;
    bottom: 0;
    background: white;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    width: 100%;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.1);
}