/* CSS - styles.css */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
}

div {
    width: 100%;
    /* Ensures that each div uses the full available width */
}

header {
    display: block;
    width: 100%;
}

#headerImage {
    width: 100%;
    height: auto;
}

#randomPageLink {
    display: none;
}

#pdf-viewer-container {
    clear: both;
    /* Clears the float, ensuring no float elements are to its left or right */
    width: calc(100% - 40px);
    /* Adjust width considering padding */
    max-width: 7in;
    aspect-ratio: calc(612 / 792);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    /* Centers the container horizontally with margin */
    padding: 20px;
    /* Padding to prevent content from touching the edges */
}

canvas {
    max-width: 100%;
    border: 1px solid black;
}

#navigation-controls {
    position: sticky;
    bottom: 0;
    background: white;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    width: 100%;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.1);
}