* {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    /* Prevent horizontal scrolling */
}

header {
    width: 100%;
    display: block;
}

#headerImage {
    width: 100%;
    height: auto;
    /* Maintains aspect ratio */
}

#randomPageLink {
    display: none;
    /* Initially hide the link */
}

#pdf-viewer-container {
    width: auto;
    /* Auto width to maintain aspect ratio based on height */
    max-height: 7in;
    height: auto;
    /* Height based on content */
    overflow: auto;
    margin: 20px auto;
    /* Center the container */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

canvas {
    display: block;
    /* Removes bottom space/gap */
    max-height: 7in;
    /* Set max height */
    height: 100%;
    /* Full height of the container */
    width: auto;
    /* Auto width to maintain aspect ratio */
}

#navigation-controls {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

@media (max-width: 768px) {
    #pdf-viewer-container {
        margin: 10px auto;
    }
}